<div class="container">
  <h1>Welcome to Craigslist, Jr!</h1>

  <p><a href="/create_post">Create a Post!</a></p>

  <div class="category_list">
    <h2>Categories:</h2>
    <ul>
      <li><a href="/category/1">Cars </li> 
      <li><a href="/category/2">Apartments </li>
      <li><a href="/category/3">Other </li> 
    </ul>
  </div> 




</div>
